[Unit]
Description=tmux default session (detached)
Documentation=man:tmux(1)

[Service]
Type=oneshot
RemainAfterExit=yes

# Start tmux-sessionen
ExecStart=/usr/bin/tmux new-session -d

# Run tmux-resurrect save-script to the users home directory
ExecStop=%h/.tmux/plugins/tmux-resurrect/scripts/save.sh

# Close session
ExecStop=/usr/bin/tmux kill-session

[Install]
WantedBy=default.target
